.contentWrapper{
    position: relative;
    box-sizing: border-box;
    width: 800px;
}
.favorite{
    padding: 0;
    position: absolute;
    color: blue;
    top: -471px;
    right: 0;
    border: 0;
    background-color: rgba(255, 255, 240, 0);
}
.link{
    position: relative;
}

.color-change{
    color: yellow;
}